.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container {
    max-width: 360px;
    width: 100%;
    margin-top: 100px;
    margin-left: 580px;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #cacaca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-bg {
    background-color: #aaaaaa;
    color: #EEEEEE;
    border: 2px solid #071E3D;
}